# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Sampler/Builds/VisualStudio2022/resources.rc
Sampler/Builds/VisualStudio2022/Sampler.sln
Sampler/Builds/VisualStudio2022/Sampler_SharedCode.vcxproj
Sampler/Builds/VisualStudio2022/Sampler_SharedCode.vcxproj.filters
Sampler/Builds/VisualStudio2022/Sampler_StandalonePlugin.vcxproj
Sampler/Builds/VisualStudio2022/Sampler_StandalonePlugin.vcxproj.filters
Sampler/Builds/VisualStudio2022/Sampler_VST3.vcxproj
Sampler/Builds/VisualStudio2022/Sampler_VST3.vcxproj.filters
Sampler/Builds/VisualStudio2022/Sampler_VST3ManifestHelper.vcxproj
Sampler/Builds/VisualStudio2022/Sampler_VST3ManifestHelper.vcxproj.filters
Sampler/JuceLibraryCode/include_juce_audio_basics.cpp
Sampler/JuceLibraryCode/include_juce_audio_basics.mm
Sampler/JuceLibraryCode/include_juce_audio_devices.cpp
Sampler/JuceLibraryCode/include_juce_audio_devices.mm
Sampler/JuceLibraryCode/include_juce_audio_formats.cpp
Sampler/JuceLibraryCode/include_juce_audio_formats.mm
Sampler/JuceLibraryCode/include_juce_audio_plugin_client_AAX.cpp
Sampler/JuceLibraryCode/include_juce_audio_plugin_client_AAX.mm
Sampler/JuceLibraryCode/include_juce_audio_plugin_client_AAX_utils.cpp
Sampler/JuceLibraryCode/include_juce_audio_plugin_client_ARA.cpp
Sampler/JuceLibraryCode/include_juce_audio_plugin_client_AU_1.mm
Sampler/JuceLibraryCode/include_juce_audio_plugin_client_AU_2.mm
Sampler/JuceLibraryCode/include_juce_audio_plugin_client_AUv3.mm
Sampler/JuceLibraryCode/include_juce_audio_plugin_client_LV2.cpp
Sampler/JuceLibraryCode/include_juce_audio_plugin_client_LV2.mm
Sampler/JuceLibraryCode/include_juce_audio_plugin_client_Standalone.cpp
Sampler/JuceLibraryCode/include_juce_audio_plugin_client_Unity.cpp
Sampler/JuceLibraryCode/include_juce_audio_plugin_client_VST2.cpp
Sampler/JuceLibraryCode/include_juce_audio_plugin_client_VST2.mm
Sampler/JuceLibraryCode/include_juce_audio_plugin_client_VST3.cpp
Sampler/JuceLibraryCode/include_juce_audio_plugin_client_VST3.mm
Sampler/JuceLibraryCode/include_juce_audio_processors.cpp
Sampler/JuceLibraryCode/include_juce_audio_processors.mm
Sampler/JuceLibraryCode/include_juce_audio_processors_headless.cpp
Sampler/JuceLibraryCode/include_juce_audio_processors_headless.mm
Sampler/JuceLibraryCode/include_juce_audio_processors_headless_ara.cpp
Sampler/JuceLibraryCode/include_juce_audio_processors_headless_lv2_libs.cpp
Sampler/JuceLibraryCode/include_juce_audio_utils.cpp
Sampler/JuceLibraryCode/include_juce_audio_utils.mm
Sampler/JuceLibraryCode/include_juce_core.cpp
Sampler/JuceLibraryCode/include_juce_core.mm
Sampler/JuceLibraryCode/include_juce_core_CompilationTime.cpp
Sampler/JuceLibraryCode/include_juce_data_structures.cpp
Sampler/JuceLibraryCode/include_juce_data_structures.mm
Sampler/JuceLibraryCode/include_juce_events.cpp
Sampler/JuceLibraryCode/include_juce_events.mm
Sampler/JuceLibraryCode/include_juce_graphics.cpp
Sampler/JuceLibraryCode/include_juce_graphics.mm
Sampler/JuceLibraryCode/include_juce_graphics_Harfbuzz.cpp
Sampler/JuceLibraryCode/include_juce_graphics_Sheenbidi.c
Sampler/JuceLibraryCode/include_juce_gui_basics.cpp
Sampler/JuceLibraryCode/include_juce_gui_basics.mm
Sampler/JuceLibraryCode/include_juce_gui_extra.cpp
Sampler/JuceLibraryCode/include_juce_gui_extra.mm
Sampler/JuceLibraryCode/JuceHeader.h
Sampler/JuceLibraryCode/JucePluginDefines.h
Sampler/JuceLibraryCode/ReadMe.txt
Sampler/Sampler.jucer
Sampler/Builds/VisualStudio2022/.vs/Sampler/CopilotIndices/17.14.1290.42047/CodeChunks.db
Sampler/Builds/VisualStudio2022/.vs/Sampler/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
Sampler/Builds/VisualStudio2022/.vs/Sampler/FileContentIndex/4214af65-8c38-44db-b231-f03cb5274d9b.vsidx
Sampler/Builds/VisualStudio2022/.vs/Sampler/FileContentIndex/fb8b81fc-4480-4b67-98a6-07580c93ab01.vsidx
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/.suo
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/Browse.VC.db
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/DocumentLayout.backup.json
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/DocumentLayout.json
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/fileList.bin
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/ipch/AutoPCH/23d8f21233e5fc1b/PLUGINPROCESSOR.ipch
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/ipch/AutoPCH/303615b583fb4bdb/PLUGINEDITOR.ipch
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/ipch/AutoPCH/9f6cab106bf9b526/PLUGINEDITOR.ipch
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/Solution.VC.db
Sampler/Builds/VisualStudio2022/Sampler_StandalonePlugin.vcxproj.user
Sampler/Builds/VisualStudio2022/x64/Debug/Shared Code/Sampler.lib.recipe
Sampler/Builds/VisualStudio2022/x64/Debug/Shared Code/Sampler.pdb
Sampler/Builds/VisualStudio2022/x64/Debug/Shared Code/Sampler_.FD10748E.tlog/CL.command.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Shared Code/Sampler_.FD10748E.tlog/Cl.items.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Shared Code/Sampler_.FD10748E.tlog/CL.read.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Shared Code/Sampler_.FD10748E.tlog/CL.write.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Shared Code/Sampler_.FD10748E.tlog/Lib-link.read.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Shared Code/Sampler_.FD10748E.tlog/Lib-link.write.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Shared Code/Sampler_.FD10748E.tlog/Lib.command.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Shared Code/Sampler_.FD10748E.tlog/Sampler_SharedCode.lastbuildstate
Sampler/Builds/VisualStudio2022/x64/Debug/Shared Code/Sampler_SharedCode.log
Sampler/Builds/VisualStudio2022/x64/Debug/Shared Code/Sampler_SharedCode.vcxproj.FileListAbsolute.txt
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/resources.res
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Sampler.exe.recipe
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Sampler.ilk
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Sampler.pdb
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Sampler_.641419C9.tlog/CL.command.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Sampler_.641419C9.tlog/Cl.items.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Sampler_.641419C9.tlog/CL.read.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Sampler_.641419C9.tlog/CL.write.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Sampler_.641419C9.tlog/link.command.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Sampler_.641419C9.tlog/link.read.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Sampler_.641419C9.tlog/link.secondary.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Sampler_.641419C9.tlog/link.write.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Sampler_.641419C9.tlog/rc.command.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Sampler_.641419C9.tlog/rc.read.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Sampler_.641419C9.tlog/rc.write.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Sampler_.641419C9.tlog/Sampler_StandalonePlugin.lastbuildstate
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Sampler_StandalonePlugin.log
Sampler/Builds/VisualStudio2022/x64/Debug/Standalone Plugin/Sampler_StandalonePlugin.vcxproj.FileListAbsolute.txt
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/ipch/AutoPCH/da8fbf1a94e3cd81/SYNTHSOUND.ipch
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/ipch/AutoPCH/a7dfab08e41aef54/SYNTHVOICE.ipch
Sampler/Builds/VisualStudio2022/.vs/Sampler/FileContentIndex/e598d5c4-3df7-40e2-ac30-55467faaf409.vsidx
Sampler/Builds/VisualStudio2022/.vs/Sampler/FileContentIndex/1f966e0f-dd37-49b9-8812-54977d9bd985.vsidx
Sampler/Builds/VisualStudio2022/.vs/Sampler/FileContentIndex/b98787d3-c18f-47c0-9675-627d33509a78.vsidx
Sampler/Builds/VisualStudio2022/Sampler_VST3.vcxproj.user
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/juce_vst3_helper.exe.recipe
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/juce_vst3_helper.ilk
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/juce_vst3_helper.pdb
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/resources.res
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Sampler_.7273648A.tlog/CL.command.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Sampler_.7273648A.tlog/Cl.items.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Sampler_.7273648A.tlog/CL.read.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Sampler_.7273648A.tlog/CL.write.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Sampler_.7273648A.tlog/link.command.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Sampler_.7273648A.tlog/link.read.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Sampler_.7273648A.tlog/link.secondary.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Sampler_.7273648A.tlog/link.write.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Sampler_.7273648A.tlog/rc.command.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Sampler_.7273648A.tlog/rc.read.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Sampler_.7273648A.tlog/rc.write.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Sampler_.7273648A.tlog/Sampler_VST3ManifestHelper.lastbuildstate
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Sampler_VST3ManifestHelper.log
Sampler/Builds/VisualStudio2022/x64/Debug/VST3 Manifest Helper/Sampler_VST3ManifestHelper.vcxproj.FileListAbsolute.txt
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/resources.res
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler.dll.recipe
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler.exp
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler.ilk
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler.pdb
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler.vst3/Contents/Resources/moduleinfo.json
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler.vst3/Contents/x86_64-win/Sampler.vst3
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler_VST3.log
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler_VST3.tlog/CL.command.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler_VST3.tlog/Cl.items.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler_VST3.tlog/CL.read.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler_VST3.tlog/CL.write.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler_VST3.tlog/link.command.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler_VST3.tlog/link.read.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler_VST3.tlog/link.secondary.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler_VST3.tlog/link.write.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler_VST3.tlog/rc.command.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler_VST3.tlog/rc.read.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler_VST3.tlog/rc.write.1.tlog
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler_VST3.tlog/Sampler_VST3.lastbuildstate
Sampler/Builds/VisualStudio2022/x64/Debug/VST3/Sampler_VST3.vcxproj.FileListAbsolute.txt
Sampler/Builds/VisualStudio2022/.vs/Sampler/FileContentIndex/5b7e80b7-9358-4bb2-9c2a-785fe6955504.vsidx
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/HierarchyCache.v1.txt
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/ipch/AutoPCH/1f241ace51c0f4cb/SAMPLERATECONVERTER.ipch
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/ipch/AutoPCH/52b09ecde5cd96be/INCLUDE_JUCE_AUDIO_FORMATS.ipch
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/ipch/AutoPCH/72060e0937a61ca8/SYNTH.ipch
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/ipch/AutoPCH/4726e8e752cd5ac3/INCLUDE_JUCE_AUDIO_BASICS.ipch
Sampler/Builds/VisualStudio2022/.vs/Sampler/FileContentIndex/ca422e4d-a819-4ab3-9904-bcb2c4e638ad.vsidx
Sampler/Builds/VisualStudio2022/.vs/Sampler/FileContentIndex/2b1172f5-491b-4407-97da-e7decd565a85.vsidx
Sampler/Builds/VisualStudio2022/.vs/Sampler/copilot-chat/82dbaced/sessions/95b56a9c-837f-4f17-bf3f-2814189f2617
Sampler/Builds/VisualStudio2022/.vs/Sampler/FileContentIndex/07d32575-da3a-4f44-bb84-cc37884de4ba.vsidx
Sampler/Builds/VisualStudio2022/.vs/Sampler/FileContentIndex/97688691-ddec-42bc-8672-8b5687b95e28.vsidx
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/ipch/AutoPCH/19de6972b909e75c/INCLUDE_JUCE_CORE.ipch
Sampler/Builds/VisualStudio2022/.vs/Sampler/FileContentIndex/0d783cac-8a74-40ae-a43a-7a21f036ce8c.vsidx
Sampler/Builds/VisualStudio2022/.vs/Sampler/FileContentIndex/0eeeff00-fd98-4192-afc6-6a8a06ad064d.vsidx
Sampler/Builds/VisualStudio2022/.vs/Sampler/FileContentIndex/12cde92b-4d6c-4c33-8643-56ef49bbb08a.vsidx
Sampler/Builds/VisualStudio2022/.vs/Sampler/FileContentIndex/d5198ed9-378a-4023-b65f-7bd61a587758.vsidx
Sampler/Builds/VisualStudio2022/.vs/Sampler/v17/ipch/AutoPCH/11fbd818fdf20aae/PLUGINPROCESSOR.ipch
